@using BlazorKendoUI
@using BlazorKendoUI.Models;
@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.JSInterop;
@implements IDisposable

<div ref="element"></div>

@functions {
    private bool shouldRender = true;

    [Parameter]
    GridModel KendoModel { get; set; }

    ElementRef element;

    [Parameter]
    Action OnGridBeforeEdit
    {
        get; set;
    }
    [JSInvokable]
    void GridBeforeEdit()
    {
        OnGridBeforeEdit.Invoke();
    }

    [Parameter]
    Action OnGridChange
    {
        get; set;
    }
    [JSInvokable]
    void GridChange()
    {
        OnGridChange.Invoke();
    }

    protected override void OnAfterRender()
    {
        if (shouldRender)
        {
            KendoUIInterop.Init(element, KendoModel, this);

            shouldRender = false;
        }
    }

    public void Dispose()
    {
        KendoUIInterop.Dispose(element);
    }

    public void UpdateGrid()
    {
        KendoUIInterop.Update(element, KendoModel);
    }
}
