@using BlazorKendoUI
@using BlazorKendoUI.Models;
@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.JSInterop;
@implements IDisposable

<button ref="element">@ChildContent</button>

@functions {
    private bool shouldRender = true;

    [Parameter]
    ButtonModel KendoModel { get; set; } = new ButtonModel();

    ElementRef element;

    [Parameter]
    private RenderFragment ChildContent { get; set; }

    [Parameter]
    Action OnButtonClick
    {
        get; set;
    }
    [JSInvokable]
    public void ButtonClick()
    {
        OnButtonClick.Invoke();
    }

    protected override void OnAfterRender()
    {
        if (shouldRender)
        {
            KendoUIInterop.Init(element, KendoModel, this);

            shouldRender = false;
        }
    }

    public void Dispose()
    {
        KendoUIInterop.Dispose(element);
    }
}
