@page "/nativepanel"

<PanelBar>
    <PanelBarItem Title="My Teammates">
        <div>
            <div class="teamMate"><img src="https://demos.telerik.com/kendo-ui/content/web/panelbar/andrew.jpg" alt="Andrew Fuller"><span class="mate-info"><h2>Andrew Fuller</h2><p>Team Lead</p></span></div><div class="teamMate"><img src="https://demos.telerik.com/kendo-ui/content/web/panelbar/nancy.jpg" alt="Nancy Leverling"><span class="mate-info"><h2>Nancy Leverling</h2><p>Sales Associate</p></span></div><div class="teamMate"><img src="https://demos.telerik.com/kendo-ui/content/web/panelbar/robert.jpg" alt="Robert King"><span class="mate-info"><h2>Robert King</h2><p>Business System Analyst</p></span></div>
        </div>
    </PanelBarItem>
    <PanelBarItem Title="Second">
        <p>One</p>
        <p>Two</p>
        <p>Three</p>
        <p>Four</p>
    </PanelBarItem>
</PanelBar>